@import '../vars';
@import './headerDiv.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43em;
  z-index: 1;
}

.homeDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: $white;
  border-bottom: 2px solid $blue;
  transition: var($mainTransition);
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min(80%, 800px);
  padding: 5em 0em 5em 0em;

  h1 {
    margin: 1em;
  }
  p {
    color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 850px) {
  .home {
    padding-top: 55vh;
    // padding-top: 35em;
  }
  .backgroundImg {
    // height: 55em;
    height: 95vh;
  }
}
