@import '../vars';
@import '../components/headerDiv';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  height: max(30em, 100%);
  width: 100%;
  align-items: center;
  background-color: $white;
  border-bottom: 2px solid $blue;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min(80%, 800px);
  padding: 3em 0em 3em 0em;
  min-height: 30em;

  h1 {
    margin: 1em;
  }
  p {
    color: $grey;
  }
  a {
    &:hover {
      color: $blue;
    }
  }
}

@media screen and (max-width: 850px) {
  .main {
    padding-top: 1em;
  }
}
@media screen and (max-width: 425px) {
  .main {
    padding-top: 5em;
  }
}

@media screen and (max-width: 412px) {
  .main {
    padding-top: 8em;
  }
}
