@import '../vars';

.modal {
  position: fixed;
  z-index: 3;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  background: #0000003a;
  color: $blue;
  .modalDiv {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-self: center;
      background-color: $darkWhite;
      border: 1px solid $grey;
      padding: 1%;
      max-width: 60%;
      h2 {
        max-width: 60%;
        margin-bottom: 2em;
      }
    }
    button {
      font-size: 18px;
      border: 1px solid $grey;
      padding: 0.5em;
      border-radius: 0.2em;
      margin-bottom: 2em;
      &:hover {
        background-color: $blue;
        color: white;
      }
    }
  }
}

.hide {
  display: none;
}
