@import '../vars';

.selected {
  color: $blue;
  font-weight: 500;
}

nav {
  display: flex;
  width: min(100%, 1200px);
  justify-content: space-around;
  font-size: 32px;
  background-color: $white;
  color: $grey;
  z-index: 1;
  border-bottom: 2px solid $blue;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 2em;
  // transform: all 100ms;
  li {
    display: flex;
    padding-left: 1em;
    font-size: 24px;
    // transform: all 100ms;

    &:hover {
      color: $blue;
      font-weight: 500;
    }
  }
}

.navDropList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid $blue;
  width: 100%;

  li {
    display: flex;
    padding: 0.5em 0em;
    font-size: 24px;

    &:hover {
      color: $blue;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.shrunk {
  display: none;
}

.menuIconDiv {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5em 2em;
  svg {
    &:hover {
      cursor: pointer;
    }
  }
}
// spaces nav bar nicely
.fillerDiv {
  flex-grow: 1;
}

.cartNotifyDot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 50%;

  position: relative;
  bottom: 0.6em;
  color: white;
  background-color: $blue;
  text-decoration: none;
  padding: 0.5em 0.23em 0.5em 0.6em;
  &:hover {
    text-decoration: none;
  }
  p {
    text-decoration: none;
    padding-left: 1em;
  }
}

@media screen and (max-width: 850px) {
  .navList {
    display: none;
    li {
      display: none;
    }
  }
  .menuIconDiv {
    display: flex;
  }
  .cartNotifyDot {
    // padding: 0.5em 0.6em 0.5em 0em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: 850px) {
  .navDropList {
    display: none;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
