@import '../vars';
@import './headerDiv.scss';

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.storyDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: $white;
  border-bottom: 2px solid $blue;
  transition: var($mainTransition);
}

.storyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min(80%, 800px);
  padding: 5em 0em 0em 0em;

  h1 {
    margin: 1em;
  }
  p {
    color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }
  a {
    &:hover {
      color: $blue;
    }
  }
}

.headerDiv {
  height: 8em;
}

.storyImgDiv {
  padding-bottom: 2em;
}

@media screen and (max-width: 850px) {
  .story {
    // padding-top: 55vh;
    padding-top: 1em;
  }
}
@media screen and (max-width: 414px) {
  .story {
    // padding-top: 55vh;
    padding-top: 5em;
  }
}

@media screen and (max-width: 384px) {
  .story {
    // padding-top: 55vh;
    padding-top: 8em;
  }
}
