@import '../vars';

.emptyCartDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 19.5em;
}

.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid $grey;
  background-color: $darkWhite;
  margin: 1em;
  border-radius: 0.3em;
  min-height: 10em;
  width: 850px;
}

.cartItemImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  border-radius: 50%;
  border: 2px solid;
  height: 2em;
  width: 2em;
  margin: 0.2em;
}

.cartNameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  hr {
    margin: 0;
    width: 80%;
    margin-top: 0.8em;
    margin-bottom: 1.5em;
  }
  button {
    background-color: $darkWhite;
    font-size: 15px;
    &:hover {
      text-decoration: underline;
      color: $blue;
    }
  }
}

.cartItemInfoDiv {
  display: flex;
  align-items: center;
  height: 10em;
  flex: 1;
}

.cartQtyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  button {
    background-color: $darkWhite;
    margin-left: 1em;
    font-size: 15px;
    text-decoration: underline;
    &:hover {
      color: $blue;
    }
  }
}
.cartQtyHolder {
  .lowStockNote {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 12px;
  }
}
.cartItemPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  h4 {
    font-size: 18px;
  }
  p {
    margin-bottom: 0;
  }
  div hr {
    margin: 0;
    margin-top: 1.2em;
    margin-bottom: 0.7em;
  }
}

.checkoutDiv {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  p {
    margin: 0;
  }
}
.checkoutHolder {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 8em;
}

.totalDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3em;
  hr {
    margin: 0;
    margin-bottom: 0.9em;
  }
}

.gtyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    svg {
      margin-right: 0.5em;
      color: $blue;
    }
  }
}

.checkoutBtnDiv {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media screen and (max-width: 950px) {
  .cartItem {
    width: auto;
  }
}

@media screen and (max-width: 860px) {
  .cartQtyHolder {
    margin: 1em 0em;
  }
  .cartItemInfoDiv {
    flex-direction: column;
  }
  .cartItem {
    height: 20em;
    width: 35em;
    justify-content: space-around;
  }

  .cartItemImgDiv {
    margin-left: 10%;
  }
  .cartItemInfoDiv {
    height: auto;
    display: flex;
    align-items: center;
    height: 80%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 570px) {
  .cartItem {
    width: auto;
    min-width: 290px;
  }
  .cartItemImgDiv {
    margin-left: 2%;
  }
  .cartItemInfoDiv {
    height: 90%;
  }
  .cartItemPrice {
    flex: 0;
  }
  .cartNameDiv {
    hr {
      margin-top: 0.8em;
      margin-bottom: 0.9em;
    }
  }
}
