@import '../vars';
@import '../components/headerDiv';

// .home adjustst over .main
.home {
  padding-top: 43em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

@media screen and (max-width: 850px) {
  .home {
    padding-top: 65vh;
    // padding-top: 35em;
  }
  .backgroundImg {
    // height: 55em;
    height: 95vh;
  }
}
