@import '../vars';
@import '../components/headerDiv';

.storyImgDiv {
  margin-bottom: 2em;

  img {
    border-radius: 0.3em;
  }
}

hr {
  color: $blue;
  width: 100%;
  margin-bottom: 2em;
}
.bottomHr {
  width: 60%;
}
