// Base reset
@import './vars';
@import './base';

html,
body {
  width: 100%;
  max-height: 100vh;
  background-color: $pink;
}

.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
}
// .backgroundImg {
//   position: absolute;
//   min-height: 100vh;
//   width: 100%;
//   // height: auto;
//   top: 0;
//   left: 0;
//   background: url('../img/camping-kettle-and-coffee-cup.jpg');
//   -webkit-background-size: cover; /* Add in these */
//   -moz-background-size: cover; /* four lines to */
//   -o-background-size: cover; /* remove the white space*/
//   background-size: cover; /* around images */
// }

#root {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  background: #0000005a;
  flex: 1;
  z-index: 1;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 32px;
  background: transparent;
  z-index: 1;
  .cartIconDiv {
    flex-grow: 1;
  }
  .menuIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.75em 2em;
  }
  .cartIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.75em 2em;
  }
}

@media only screen and (max-width: 900px) {
  .backgroundImg {
    width: auto;
    left: -550px;
  }
}
