// Base reset
@import './vars';
@import './base';

//main is basic main layour, pages customize over
@import './components/main';

@import './components/nav';
@import './components/backgroundImg';

@import './components/headerImg';
@import './components/footer';

@import './pages/home';
@import './pages/story';
@import './pages/coffee';
@import './pages/cart';

html,
body {
  width: 100%;
  height: 100vh;
  background-color: white;
  letter-spacing: $mainSpacing;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hidden {
  display: none;
}
