// Vars
$mainSpacing: 0.3rem;
$mainBorderRadius: 0.25rem;
$mainTransition: all 0.3s linear;
// Add your colors or more vars
$pink: #c09f90;
$white: #fbfff1;
// $gold: #ff7f11;
// $light-green: #e0e6db;
// $brown: #522a27;
$grey: #363b3b;
// $blue: #082f40;

$blue: #4481a6;
